/AlejandroVega_Test/nbproject/private/
/JSwing2/dist/
/JSwing2/nbproject/private/
/AlejandroVega_Test/build/
/ProblemaFilosofos/nbproject/private/
/ProblemaFilosofos/build/
/AlejandroVega_Test/dist/
/PSPTema3/nbproject/private/
/PSPTema3/build/
/JDBC/nbproject/private/
/JDBC/build/
/JDBC/dist/
