/EscribirFichero/nbproject/private/
/EscribirFichero/build/
/ejercicioTransformer/nbproject/private/
/ejercicioTransformer/build/
/sumatorioConProcesadores/nbproject/private/
/sumatorioConProcesadores/build/
